In [1093]:
# Round robin

import random
import pandas as pd

In [1094]:
countries = [
    "Spain", "Argentina", "France", "England", "Brazil", "Germany", "Portugal", "Netherlands",
    "Colombia", "Uruguay", "Italy", "Croatia", "Ecuador", "Japan", "Denmark", "Belgium", "Serbia", "Turkey",
    "Austria", "Greece"
]

countriesrs = {
    "Spain": 2150,
    "Argentina": 2140,
    "France": 2031,
    "England": 2012,
    "Brazil": 1994,
    "Germany": 1988,
    "Portugal": 1988,
    "Netherlands": 1967,
    "Colombia": 1953,
    "Uruguay": 1922,
    "Italy": 1914,
    "Croatia": 1912,
    "Ecuador": 1911,
    "Japan": 1875,
    "Denmark": 1862,
    "Belgium": 1844,
    "Serbia": 1844,
    "Turkey": 1837,
    "Austria": 1837,
    "Greece": 1830
}

countriesratings = countriesrs

for country in countriesrs.keys():
    rating = countriesrs[country]
    
    countriesratings[country] = (rating - 1830)/(2150-1830)
print(countriesratings)

{'Spain': 1.0, 'Argentina': 0.96875, 'France': 0.628125, 'England': 0.56875, 'Brazil': 0.5125, 'Germany': 0.49375, 'Portugal': 0.49375, 'Netherlands': 0.428125, 'Colombia': 0.384375, 'Uruguay': 0.2875, 'Italy': 0.2625, 'Croatia': 0.25625, 'Ecuador': 0.253125, 'Japan': 0.140625, 'Denmark': 0.1, 'Belgium': 0.04375, 'Serbia': 0.04375, 'Turkey': 0.021875, 'Austria': 0.021875, 'Greece': 0.0}

In [1095]:
def simulate_match(country1, country2):
    
    rating1 = countriesratings[country1]
    rating2 = countriesratings[country2]
    
    percent1 = rating1 / (rating1 + rating2)
    percent2 = rating2 / (rating1 + rating2)
    
    if random.random() < percent1:
        result = 'win'
    else:
        result = 'loss'
    
    if result == 'win':
        return country1, 3, country2, 0  # country1 wins, gets 3 points, country2 gets 0
    elif result == 'loss':
        return country1, 0, country2, 3  # country2 wins, gets 3 points, country1 gets 0
    else:
        return country1, 1, country2, 1  # Draw, both get 1 point each

In [1096]:
def simulate_tournament(countries):
    # Initialize a dictionary to store the points of each country
    standings = {country: {'wins': 0, 'losses': 0, 'draws': 0, 'points': 0} for country in countries}
    
    # Iterate over all pairs of countries (round robin)
    for i in range(len(countries)):
        for j in range(i + 1, len(countries)):
            country1 = countries[i]
            country2 = countries[j]
            
            # Simulate match between country1 and country2
            country1_wins, country1_points, country2_wins, country2_points = simulate_match(country1, country2)
            
            # Update the standings
            standings[country1]['points'] += country1_points
            standings[country2]['points'] += country2_points
            
            if country1_points == 3:
                standings[country1]['wins'] += 1
                standings[country2]['losses'] += 1
            elif country2_points == 3:
                standings[country2]['wins'] += 1
                standings[country1]['losses'] += 1
            else:
                standings[country1]['draws'] += 1
                standings[country2]['draws'] += 1
    
    return standings

In [1097]:
def display_standings(standings):
    # Convert the standings dictionary to a DataFrame for better visualization
    df = pd.DataFrame(standings).T  # Transpose so countries are rows
    df = df.sort_values(by=['points', 'wins'], ascending=False)  # Sort by points, then by wins
    return df

In [1098]:
standings = simulate_tournament(countries)
tournament_results = display_standings(standings)
tournament_results

             wins  losses  draws  points
Spain          16       3      0      48
Argentina      15       4      0      45
England        15       4      0      45
Germany        13       6      0      39
Netherlands    13       6      0      39
Ecuador        13       6      0      39
France         12       7      0      36
Brazil         12       7      0      36
Portugal       12       7      0      36
Croatia        12       7      0      36
Colombia       11       8      0      33
Uruguay         9      10      0      27
Italy           9      10      0      27
Japan           6      13      0      18
Denmark         6      13      0      18
Belgium         5      14      0      15
Serbia          4      15      0      12
Austria         4      15      0      12
Turkey          3      16      0       9
Greece          0      19      0       0